@charset "UTF-8";

@import "../variables";

/**
 * Title's braces for Portals & Theories.
 *
 * @mixin
 * @section Portal Mixins
 * @example
 *  @include app--portal-title();
 */
@mixin app--portal-title() {
  &:before,
  &:after {
    content:  "";
    position: absolute;
    top:      0;
    height:   1px;
    width:    50px;
    border:   0;
  }

  &:before {
    right:        100%;
    margin-right: 10px;
    background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 0.75));
  }

  &:after {
    left:        100%;
    margin-left: 10px;
    background-image: linear-gradient(to right, rgba($color-black, 0.75), rgba($color-black, 0));
  }
}
