@charset "UTF-8";

@import "../variables";
@import "../helpers";

/**
 * Clipboard for Homepage.
 *
 * @structure Clipboard
 * @section Homepage
 */
.#{$prefix}-homepage-clipboard {
  @include app--flex-col-center();
}

/**
 * Layout for Homepage elements.
 *
 * @structure Layout
 * @section Homepage
 */
.#{$prefix}-homepage__layer {
  display:   flex;
  flex-flow: row wrap;
  width:     100%;
  margin:    $clipboard-indent-vertical 0;
}
