@charset "UTF-8";

@import "../variables";

/**
 * @structure Footer
 * @section Homepage
 * @description
 *  Style of footer for Homepage.
 * @markup
 *  <footer class="app-homepage-footer"></footer>
 */
.#{$prefix}-homepage-footer {
  position: absolute;
  right:    0;
  bottom:   0;
  left:     0;

  background-color: #C3E3B5; // @TODO: debug bg

  &__layout {
    @include app--box-sizing();
    @extend .#{$prefix}-bordure;
    display:   flex;
    width:     $space-full;
    max-width: $content-max-width;

    background-color: #5CB860; // @TODO: debug bg
  }
}
