@charset "UTF-8";

@import "../variables";

/**
 * @structure Header
 * @section Homepage
 * @description
 *  Style of header for Homepage.
 * @markup
 *  <header class="app-homepage-header"></header>
 */
.#{$prefix}-homepage-header {
  @extend .#{$prefix}-nullify;
  position: relative;
  z-index:  999;

  background-color: #ABABAB; // @TODO: debug bg

  &__topline {
    text-align: center;

    background-color: #495C68; // @TODO: debug bg
  }

  &__layout {
    @include app--box-sizing();
    @extend .#{$prefix}-bordure;
    display:   flex;
    width:     $space-full;
    max-width: $content-max-width;

    background-color: #8F8F8F; // @TODO: debug bg
  }

  &__logo {
    @include app--flex-center();
    flex-shrink: 0;
    flex-grow:   0;
    width:       250px;
    height:      135px;
    cursor:      default;

    a {
      text-decoration: none;
      cursor:          pointer;
    }

    &--phrase {
      @include app--non-select();
      margin:    0;
      padding:   5px;
      font-size: 65px;
      color:     $color-primary;

      &:hover {
        color: $color-primary;
      }
    }

    &--image {
      display: block;
      width:   240px;
    }
  }

  &__workspace {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    flex-grow:       1;

    background-color: #269ABC; // @TODO: debug bg
  }

  &__quote {
    max-width: 1000px;

    background-color: #AE81FF; // @TODO: debug bg
  }

  &__actions {
    display:        flex;
    flex-direction: column;

    background-color: #A6E22E; // @TODO: debug bg
  }
}
