@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * @structure Main
 * @section Homepage
 * @description
 *  Style of main for Homepage.</br>
 * @markup
 *  <main class="app-homepage-main"></main>
 */
.#{$prefix}-homepage-main {
  @include app--box-sizing();
  @extend .#{$prefix}-bordure;
  width:     $space-full;
  max-width: $content-max-width;

  background-color: #F8BB86; // @TODO: debug bg
}
