{% extends 'portal/layout.html.twig' %}

{% block clipboard %}
    <h1 class="app-portal-title">{{ portal.title|capitalize }}</h1>
    <p class="app-paragraph">
        {{ 'Онлайн справочник грамматики английского языка с подробным изложением особенностей употребления частей речи, а также построения английских предложений. (@DESCRIPTION)' }}
    </p>
{% endblock %}

