@charset "UTF-8";

@import "variables";

/**
 * @structure Body
 * @section Global
 * @description
 *  Sets styles for <html> tag.
 */
html {
  height:      100%;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size:   14px;
  font-weight: normal;
  line-height: 20px;
}

/**
 * @atom Link
 * @section Global
 * @markup
 *  <a href="#">a link</span>
 */
a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}
