@charset "UTF-8";

// ====================
// Main prefix
// ====================
/* stylelint-disable-next-line value-keyword-case */
$prefix: $APP_PREFIX;

// ====================
// Colors
// ====================
@import "variables/colors";

// ====================
// Buttons
// ====================
@import "variables/buttons";

// ====================
// Screens
// ====================
@import "variables/screens";

// ====================
// Regions
// ====================
@import "variables/regions";

// ====================
// Content
// ====================
/**
 * Max width of content workspace
 *
 * @nuclide
 * @section Content Variables
 */
$content-max-width: 1600px;

// ====================
// Grid
// ====================
/**
 * Number of columns
 *
 * @nuclide
 * @section Grid Variables
 */
$columns: 12;

// ====================
// Sizes
// ====================
/**
 * Zero size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-zero: 0;
/**
 * Tiny size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-tiny: 3px;
/**
 * Mini size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-mini: 5px;
/**
 * Small size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-small: 10px;
/**
 * Medium size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-medium: 15px;
/**
 * Large size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-large: 20px;
/**
 * Huge size variable
 *
 * @nuclide
 * @section Size Variables
 */
$size-huge: 25px;

// ====================
// Spaces
// ====================
/**
 * Zero space variable
 *
 * @nuclide
 * @section Space Variables
 */
$space-zero: 0;
/**
 * Small space variable
 *
 * @nuclide
 * @section Space Variables
 */
$space-small: 25%;
/**
 * Half space variable
 *
 * @nuclide
 * @section Space Variables
 */
$space-half: 50%;
/**
 * Large space variable
 *
 * @nuclide
 * @section Space Variables
 */
$space-large: 75%;
/**
 * Full space variable
 *
 * @nuclide
 * @section Space Variables
 */
$space-full: 100%;

// ====================
// Other variables
// ====================
/**
 * Zero' variable
 *
 * @nuclide
 * @section Other Variables
 */
$zero: 0;
