<?php
declare(strict_types=1);

namespace App\Entity;

use Symfony\Component\Validator\Constraints as Assert;

use Doctrine\ORM\Mapping as ORM;
use Doctrine\Common\Collections\ArrayCollection;

use Gedmo\Mapping\Annotation as Gedmo;
use Gedmo\Translatable\Translatable;

use App\Entity\Translations\CategoryTranslation;

use App\Entity\Traits\Id as IdField;
use App\Entity\Traits\Locale as LocaleField;
use App\Entity\Traits\Enabled as EnabledField;
use App\Entity\Traits\Created as CreatedField;
use App\Entity\Traits\Updated as UpdatedField;
use App\Entity\Traits\NameTranslatable as NameField;

/**
 * Class Category
 *
 * @package App\Entity
 * @author Alexander Saveliev <alex@spbcrew.com>
 * @ORM\Table(name="app_category")
 * @ORM\Entity(repositoryClass="App\Repository\CategoryRepository")
 * @Gedmo\TranslationEntity(class="App\Entity\Translations\CategoryTranslation")
 */
class Category
{
    use IdField;

    /** @return string */
    public function __toString(): string
    {
        return (string)$this->getId();
    }

    # name
    # title (t)
    # description (t)
    # uri
    # portal (mto)
    # subs (otm)
    # theories (otm)
    # relations* (cross)
}
