@charset "UTF-8";

// ====================
// Default colors
// ====================
/**
 * A white color variable.
 *
 * @color
 * @section Default Colors
 */
$color-white: #FFF; // rgb(255, 255, 255)
/**
 * A black color variable.
 *
 * @color
 * @section Default Colors
 */
$color-black: #000; // rgb(0, 0, 0)

// ====================
// Base colors
// ====================
/**
 * A primary color variable.
 *
 * @color
 * @section Main Colors
 */
$color-primary:   #3F51B5 !default; // rgb(63, 81, 181)
/**
 * A secondary color variable.
 *
 * @color
 * @section Main Colors
 */
$color-secondary: #9E9E9E !default; // rgb(158, 158, 158)
/**
 * An info color variable.
 *
 * @color
 * @section Main Colors
 */
$color-info: #2196F3 !default; // rgb(33, 150, 243)
/**
 * A success color variable.
 *
 * @color
 * @section Main Colors
 */
$color-success: #4CAF50 !default; // rgb(76, 175, 80)
/**
 * A warning color variable.
 *
 * @color
 * @section Main Colors
 */
$color-warning: #FF9800 !default; // rgb(255, 152, 0)
/**
 * An error and danger color variables.
 *
 * @color
 * @section Main Colors
 */
$color-error: #F44336 !default; // rgb(244, 67, 54)
$color-danger: $color-error; // rgb(244, 67, 54)
/**
 * A background color variable.
 *
 * @color
 * @section Main Colors
 */
$color-bg: #657383 !default; // rgb(101, 115, 131)

// ====================
// Color variables
// ====================
/**
 * Color tone amount variable
 *
 * @nuclide
 * @section Colors Variables
 */
$color-tone-amount: 5 !default;
/**
 * Color tone step variable
 *
 * @nuclide
 * @section Colors Variables
 */
$color-tone-step: 5 !default;
