@charset "UTF-8";

// ====================
// Screens
// ====================
/**
 * Mobile screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-mobile: 544px;
/**
 * Tablet screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-tablet: 768px;
/**
 * Laptop screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-laptop: 992px;
/**
 * Desktop screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-desktop: 1200px;
/**
 * iPhone screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-iphone: 320px;
/**
 * iPad screen variable
 *
 * @nuclide
 * @section Screen Variables
 */
$screen-ipad: 768px;
