@charset "UTF-8";

@import "../variables";
@import "../helpers";

/**
 * Title for Portal's pages.
 *
 * @molecule Title
 * @section Portal
 * @markup
 *  <h1 class="app-portal-title">English language</h1>
 */
.#{$prefix}-portal-title {
  @include app--portal-title();
  display:     inline-block;
  position:    relative;
  line-height: 0;
  font-size:   xx-large;
  text-align:  center;
}

/**
 * Title for Theory's pages.
 *
 * @molecule Title
 * @section Theory
 * @markup
 *  <h1 class="app-theory-title">English verb</h1>
 */
.#{$prefix}-theory-title {
  @include app--portal-title();
  display:     inline-block;
  position:    relative;
  line-height: 0;
  font-size:   x-large;
  text-align:  center;
}
