@charset "UTF-8";

@import "../variables";
@import "../helpers";

/**
 * Title for Portal's pages.
 *
 * @molecule Title
 * @section Homepage
 * @markup
 *  <h1 class="app-title">English language</h1>
 */
.#{$prefix}-portal-title {
  display:     inline-block;
  position:    relative;
  line-height: 0;
  font-size:   xx-large;
  text-align:  center;

  &:before,
  &:after {
    content:  "";
    position: absolute;
    top:      0;
    height:   1px;
    width:    50px;
    border:   0;
  }

  &:before {
    right:        100%;
    margin-right: 10px;
    background-image: linear-gradient(to right, rgba($color-black, 0), rgba($color-black, 0.75));
  }

  &:after {
    left:        100%;
    margin-left: 10px;
    background-image: linear-gradient(to right, rgba($color-black, 0.75), rgba($color-black, 0));
  }
}
