<header class="app-header">
    <section class="app-header__layout">
        {% include 'components/logo/header-logo.html.twig' with {
            'logo': logo
        } only %}
        <section class="app-header__workspace">
            <article class="app-header__goal">
                {{ 'Для всех, кто хочет знать английский язык мы создали этот сайт, полностью посвященный его изучению. Здесь есть все необходимое для того, чтобы изучать английский язык онлайн бесплатно.' }}
            </article>
            <div class="app-header__actions">
                {% if _setting('header_show_user_action') %}
                    {% include 'components/header_actions/user.html.twig' %}
                {% endif %}
                {% include 'components/header_actions/language_switcher.html.twig' with {
                    'switcher': language_switcher
                } only %}
                {% if _setting('header_show_search_action') %}
                    {% include 'components/header_actions/search.html.twig' %}
                {% endif %}
            </div>
        </section>
    </section>
</header>
