<aside class="app-sidebar">
    {% if quote %}
        <article class="app-sidebar-quote">
            <blockquote>{{ quote.text }}</blockquote>
            <span class="app-sidebar-quote__author">{{ quote.author }}</span>
        </article>
    {% endif %}
</aside>
