<button type="button"
        name="search"
        class="{{ _class(constant('App\\Twig\\StyleExtension::CLASS_HEADER_BUTTON')) }}"
>
    <span class="app-mdi"><i class="mdi mdi-magnify"></i></span>
</button>
