{% extends 'layout.html.twig' %}

{% block body_class %}{{ 'app-homepage-body' }}{% endblock %}

{% block main %}
    <main class="app-homepage-main">
        <h1>{{ 'mainboard content here' }}</h1>
    </main>
{% endblock %}

{% block css %}
    {% include 'homepage/_includes/css.html.twig' %}
{% endblock %}
{% block links %}
    {% include 'homepage/_includes/links.html.twig' %}
{% endblock %}
{% block js %}
    {% include 'homepage/_includes/js.html.twig' %}
{% endblock %}
