{% extends 'layout.html.twig' %}

{% block clipboard_class %}{{ 'app-homepage-clipboard' }}{% endblock %}
{% block clipboard %}
    {% if portals %}
        <section class="app-homepage__layer">
            {% for portal in portals %}
                {% include 'homepage/components/portal-card.html.twig' with {
                    'portal': portal
                } only %}
            {% endfor %}
        </section>
    {% endif %}

    <hr class="app-homepage-separator"/>

    <section class="app-homepage__layer app-homepage-infograph__layer">
        <article class="app-homepage-infograph">
            <span class="app-mdi"><i class="mdi mdi-translate"></i></span>
            <span class="app-homepage-infograph__title">{{ 'infograph.x.title'|trans({}, 'homepage')|upper }}</span>
            <hr/>
            <p class="app-homepage-infograph__text">{{ 'infograph.x.text'|trans({}, 'homepage') }}</p>
        </article>
        <article class="app-homepage-infograph">
            <span class="app-mdi"><i class="mdi mdi-lightbulb-outline"></i></span>
            <span class="app-homepage-infograph__title">{{ 'infograph.y.title'|trans({}, 'homepage')|upper }}</span>
            <hr/>
            <p class="app-homepage-infograph__text">{{ 'infograph.y.text'|trans({}, 'homepage') }}</p>
        </article>
        <article class="app-homepage-infograph">
            <span class="app-mdi"><i class="mdi mdi-ear-hearing"></i></span>
            <span class="app-homepage-infograph__title">{{ 'infograph.z.title'|trans({}, 'homepage')|upper }}</span>
            <hr/>
            <p class="app-homepage-infograph__text">{{ 'infograph.z.text'|trans({}, 'homepage') }}</p>
        </article>
    </section>

    <hr class="app-homepage-separator"/>

    <section class="app-homepage__layer">
        <article class="app-homepage-article">
            <h3>{{ 'article.about_us.title'|trans({}, 'homepage') }}</h3>
            <p>
                {{ 'article.about_us.text'|trans({}, 'homepage') }}
            </p>
        </article>
        <article class="app-homepage-article">
            <h3>{{ 'article.our_goals.title'|trans({}, 'homepage') }}</h3>
            <p>
                {{ 'article.our_goals.text'|trans({}, 'homepage') }}
            </p>
        </article>
    </section>
{% endblock %}

{% block css %}
    {% include 'homepage/_includes/css.html.twig' %}
{% endblock %}
{% block links %}
    {% include 'homepage/_includes/links.html.twig' %}
{% endblock %}
{% block js %}
    {% include 'homepage/_includes/js.html.twig' %}
{% endblock %}
