@charset "UTF-8";

// ====================
// Clipboard
// ====================
/**
 * Basic vertical indent for Clipboard elements
 *
 * @nuclide
 * @section Regions Variables
 */
$clipboard-indent-vertical: 25px;

/**
 * Basic horizontal indent for Clipboard elements
 *
 * @nuclide
 * @section Regions Variables
 */
$clipboard-indent-horizontal: 15px;

// ====================
// Footer
// ====================
/**
 * Absolute position of footer
 *
 * @nuclide
 * @section Regions Variables
 */
$footer-absolute: false;
