@charset "UTF-8";

// ====================
// Modules
// ====================
@import "modules/common/common";
@import "modules/homepage/homepage";

// ====================
// Imports
// ====================
@import "modules/common/elements/colors";

// ====================
// Resets
// ====================
.#{$prefix}-footer {
  position: relative;
}

.#{$prefix}-circle {
  @extend .#{$prefix}-circle;
  display:          inline-block;
  height:           25px;
  width:            25px;
  background-color: $color-primary;
}

.#{$prefix}-bg-color {
  @each $name, $color in $colors {
    &--#{$name} {
      @extend .#{$prefix}-bg-color--#{$name};
      display: inline-block;
      height:  25px;
      width:   100%;
    }
    @for $step from 1 through $color-tone-amount {
      &__#{$name}--darken-#{$step} {
        @extend .#{$prefix}-bg-color__#{$name}--darken-#{$step};
        display: inline-block;
        height:  25px;
        width:   100%;
      }
      &__#{$name}--lighten-#{$step} {
        @extend .#{$prefix}-bg-color__#{$name}--lighten-#{$step};
        display: inline-block;
        height:  25px;
        width:   100%;
      }
    }
  }
}

.nucleus-btn-layout {
  margin-bottom: 5px;
}
