@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Footer with logo as phrase and site map.
 *
 * @structure Footer
 * @section Common
 * @markup
 *   <footer class="app-footer">
 *     <section class="app-footer__layout">
 *       <h1>Footer content here.</h1>
 *     </section>
 *   </footer>
 */
.#{$prefix}-footer {
  @if($footer-absolute) {
    position: absolute;
    right:    0;
    bottom:   0;
    left:     0;
  }

  &__layout {
    @include app--box-sizing();
    @extend .#{$prefix}-trim;
    display:   flex;
    width:     $space-full;
    max-width: $content-max-width;

    background-color: #5CB860; // @TODO: debug bg
  }
}
