@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Footer with logo as phrase and site map.
 *
 * @structure Footer
 * @section Footer
 * @markup
 *  <footer class="app-footer">
 *    <section class="app-footer__layout">
 *      <div class="app-footer__logo">
 *        <div class="app-logo-sketch">
 *          <span>Dif</span>
 *          <span>tong</span>
 *          <span>.com</span>
 *        </div>
 *      </div>
 *      <nav class="app-footer__content">
 *        <div class="app-footer__content--column">
 *          <p>navigation</p>
 *          <hr>
 *          <menu class="app-footer__content--list">
 *            <li><a href="#">About us</a></li>
 *            <li><a href="#">Contacts</a></li>
 *          </menu>
 *        </div>
 *        <div class="app-footer__content--column">
 *          <p>menu</p>
 *          <hr>
 *          <menu class="app-footer__content--list">
 *            <li><a href="#">Portals</a></li>
 *            <li><a href="#">Grammar</a></li>
 *            <li><a href="#">Phonetics</a></li>
 *            <li><a href="#">Lexis</a></li>
 *            <li><a href="#">Articles</a></li>
 *            <li><a href="#">Topics</a></li>
 *            <li><a href="#">Lyrics</a></li>
 *          </menu>
 *        </div>
 *        <div class="app-footer__content--column app-footer__content--info-column">
 *          <p>share:</p>
 *          <a href="#" class="app-footer__social-icon">
 *            <span class="app-mdi"><i class="mdi mdi-facebook"></i></span>
 *          </a>
 *          <a href="#" class="app-footer__social-icon">
 *            <span class="app-mdi"><i class="mdi mdi-twitter"></i></span>
 *          </a>
 *          <a href="#" class="app-footer__social-icon">
 *            <span class="app-mdi"><i class="mdi mdi-linkedin"></i></span>
 *          </a>
 *          <p>SEO</p>
 *          <div class="app-footer__copyright">
 *            <p class="app-footer__copyright--item">© diftong, 2019</p>
 *            <p class="app-footer__copyright--item">© made by rainlike.com, 2019</p>
 *          </div>
 *        </div>
 *      </nav>
 *    </section>
 *  </footer>
 */
.#{$prefix}-footer {
  @if($footer-absolute) {
    position: absolute;
    right:    0;
    bottom:   0;
    left:     0;
  }

  &__layout {
    @include app--box-sizing();
    display:    flex;
    width:      100%;
    max-width:  $content-max-width;
    margin:     0 auto;
    padding:    10px 0 10px 40px;
    border-top: 2px solid $color-black;
  }

  &__content {
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-between;
    width:           100%;
    border-left:     1px solid $color-black;

    &--column {
      margin:       0;
      padding-left: 15px;
      width:        100%;
      cursor:       default;

      p {
        margin: 0;
      }

      hr {
        width:  50%;
        height: 1px;
        margin: 0 10px;
        border: 0;
        background-color: $color-black;
      }
    }

    &--info-column {
      width:     $sidebar-width;
      min-width: $sidebar-width;
      max-width: $sidebar-width;
    }

    &--list {
      padding:    0;
      list-style: none;

      li {
        a {
          color: $color-black;
          text-decoration: none;

          &:hover {
            color: $color-primary;
          }
        }
      }
    }
  }
}

/**
 * Footer' copyright.
 *
 * @structure Copyright
 * @section Footer
 * @markup
 *  <div class="app-footer__copyright">
 *    <p class="app-footer__copyright--item">© diftong, 2019</p>
 *    <p class="app-footer__copyright--item">© made by rainlike.com, 2019</p>
 *  </div>
 */
.#{$prefix}-footer__copyright {
  line-height: normal;

  &--item {
    font-size: x-small;
  }
}

/**
 * Social icon in Footer.
 *
 * @structure Social Icon
 * @section Footer
 * @markup
 *  <a href="#" class="app-footer__social-icon">
 *    <span class="app-mdi">
 *      <i class="mdi mdi-facebook"></i>
 *    </span>
 *  </a>
 */
.#{$prefix}-footer__social-icon {
  .#{$prefix}-mdi {
    .mdi {
      font-size: 20px;
    }
  }
}
