@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Header with logo and action buttons.
 *
 * @structure Header
 * @section Common
 * @markup
 *  <header class="app-header">
 *    <section class="app-header__layout">
 *      <div class="app-header__logo">
 *        <a href="#">
 *          <img src="../../public/cdn/logo.svg"
 *            alt="alt"
 *            title="title"
 *            class="app-header__logo--image"
 *          />
 *        </a>
 *      </div>
 *      <section class="app-header__workspace">
 *        <article class="app-header__goal">Site goal here.</article>
 *        <div class="app-header__actions">
 *          <button type="button" name="user" class="app-header__button">
 *            <span class="app-mdi"><i class="mdi mdi-account"></i></span>
 *          </button>
 *          <button type="button" name="lang" class="app-header__button">
 *            <span class="app-mdi"><i class="mdi mdi-flag"></i></span>
 *          </button>
 *          <button type="button" name="search" class="app-header__button">
 *            <span class="app-mdi"><i class="mdi mdi-magnify"></i></span>
 *          </button>
 *        </div>
 *      </section>
 *    </section>
 *  </header>
 */
.#{$prefix}-header {
  @extend .#{$prefix}-nullify;
  position: relative;
  z-index:  999;

  &__layout {
    @include app--box-sizing();
    @extend .#{$prefix}-trim;
    display:   flex;
    width:     $space-full;
    max-width: $content-max-width;
  }

  &__logo {
    @include app--flex-col-center();
    flex-shrink: 0;
    flex-grow:   0;
    width:       250px;
    height:      135px;
    cursor:      default;

    a {
      text-decoration: none;
      cursor:          pointer;
    }

    &--phrase {
      @include app--non-select();
      margin:    0;
      padding:   5px;
      font-size: 65px;
      color:     $color-primary;

      &:hover {
        color: $color-primary;
      }
    }

    &--image {
      display: block;
      width:   240px;
    }
  }

  &__workspace {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
    flex-grow:       1;
  }

  &__goal {
    width:        50%;
    align-self:   center;
    padding-left: 25px;
  }

  &__actions {
    display:         flex;
    flex-direction:  column;
    justify-content: space-between;
  }

  &__button {
    @include app--button();
    @include app--button-paint($color-primary);
    flex-grow: 3;
    padding:   0.1rem 0.7rem;

    .#{$prefix}-mdi {
      .mdi {
        font-size: 30px;
      }
    }
  }
}
