@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Sidebar with many useful elements.
 *
 * @structure Sidebar
 * @section Common
 * @markup
 *   <aside class="app-sidebar">Sidebar here</aside>
 */
.#{$prefix}-sidebar {
  @include app--box-sizing();
  width:     350px;
  flex-grow: 0;
  padding:   15px 0 0 15px;

  &-quote {
    @include app--box-sizing();
    border-left:  3px solid $color-black;
    padding-left: 10px;

    blockquote {
      margin:    0;
      font-size: larger;
    }

    &__author {
      display:    block;
      text-align: right;
      font-size:  small;
      color:      $color-secondary
    }
  }
}
