@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Main menu
 *
 * @molecule Menu
 * @section Menu
 * @markup
 *  <nav class="app-menu">
 *    <a href="#" class="app-menu__item"><</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Portals</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Grammar</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Phonetics</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Lexis</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Articles</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Topics</a>
 *    <span class="app-menu__separator"></span>
 *    <a href="#" class="app-menu__item">Lyrics</a>
 *    <span class="app-menu__separator"></span>
 *  </nav>
 */
.#{$prefix}-menu {
  display:         flex;
  flex-direction:  row;
  justify-content: flex-start;
  align-items:     center;
  height:     2.4em;
  padding:    10px 15px 0 15px;
  box-sizing: border-box;

  &__separator {
    height:       $size-large;
    margin-left:  $size-mini;
    margin-right: $size-mini;
    border-left:  1px solid $color-secondary;
  }
}
