@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Main menu
 *
 * @molecule Menu
 * @section Menu
 * @markup
 *  <nav class="app-menu">
 *    <p>menu item #1</p>
 *    <p>menu item #2</p>
 *    <p>menu item #3</p>
 *  </nav>
 */
.#{$prefix}-menu {
  display:         flex;
  flex-direction:  row;
  justify-content: flex-start;
  align-items:     center;
  height:     2.4em;
  margin:     10px 0 0 15px;
  box-sizing: border-box;

  &__separator {
    height:       $size-large;
    margin-left:  $size-mini;
    margin-right: $size-mini;
    border-left:  1px solid $color-secondary;
  }
}
