@charset "UTF-8";

// Main prefix
/* stylelint-disable-next-line value-keyword-case */
$prefix: $APP_PREFIX;

// Other main variables
$zero: 0;

// Default colors
$color-white: #FFF; // rgb(255, 255, 255)
$color-black: #000; // rgb(0, 0, 0)

// Main colors
$color-primary:   #3F51B5; // rgb(63, 81, 181)
$color-secondary: #9E9E9E; // rgb(158, 158, 158)
$color-info:      #2196F3; // rgb(33, 150, 243)
$color-success:   #4CAF50; // rgb(76, 175, 80)
$color-warning:   #FF9800; // rgb(255, 152, 0)
$color-error:     #F44336; // rgb(244, 67, 54)
$color-danger:    $color-error; // rgb(244, 67, 54)
$color-bg:        #657383; // rgb(101, 115, 131)

// Color variables
$color-tone-amount: 5;
$color-tone-step:   5;

// Grid
$columns: 12;

// Sizes
$size-zero:   0;
$size-tiny:   3px;
$size-mini:   5px;
$size-small:  10px;
$size-medium: 15px;
$size-large:  20px;
$size-huge:   25px;

// Spaces
$space-zero:  0;
$space-small: 25%;
$space-half:  50%;
$space-large: 75%;
$space-full:  100%;

// Screens
$screen-mobile:  544px;
$screen-tablet:  768px;
$screen-laptop:  992px;
$screen-desktop: 1200px;
$screen-iphone:  320px;
$screen-ipad:    768px;

// Buttons
$button-hover-rank:  10;
$button-active-rank: 15;

// ==================
// Homepage section
// ==================

// ==================
// Portal section
// ==================

// ==================
// BackOffice section
// ==================
