{% extends 'layout.html.twig' %}

{% block body_class %}{% endblock %}

{% block body %}
    {% trans_default_domain 'messages' %}

    {{ render(controller('App\\Controller\\CommonController::renderHeader', {
        'route': route,
        'routeParams': route_params,
        'url': app.request.uri
    })) }}

    <main class="{% block main_class %}{% endblock %}">
        {% block main %}{% endblock %}
    </main>

    {{ render(controller('App\\Controller\\CommonController::renderFooter', {
        'route': route,
        'routeParams': route_params,
        'url': app.request.uri
    })) }}
{% endblock %}

{% block css %}
    {% include 'front/_includes/css.html.twig' %}
{% endblock %}
{% block links %}
    {% include 'front/_includes/links.html.twig' %}
{% endblock %}
{% block js %}
    {% include 'front/_includes/js.html.twig' %}
{% endblock %}
