@charset "UTF-8";

@import "../variables";
@import "../helpers";

/**
 * Clipboard for Portal.
 *
 * @structure Clipboard
 * @section Portal
 */
.#{$prefix}-portal-clipboard {
  display:        flex;
  flex-direction: column;
  align-items:    center;
  padding:        0 15px;
}

/**
 * Layer for Portal blocks.
 *
 * @structure Layer
 * @section Portal
 */
.#{$prefix}-portal__layer {
  display:         flex;
  flex-flow:       row wrap;
  justify-content: center;
  width:           100%;
  margin-bottom:   10px;
}

/**
 * Layer of Theory.
 *
 * @structure Layer
 * @section Theory
 */
.#{$prefix}-theory__layer {
  width: 100%;
}

/**
 * Wrapper for Theory' content.
 *
 * @structure Layer
 * @section Theory
 */
.#{$prefix}-theory-content {
  padding: 25px 0;
}
