@charset "UTF-8";

@import "../variables";
@import "../helpers";

/**
 * Clipboard for Portal.
 *
 * @structure Clipboard
 * @section Portal
 */
.#{$prefix}-portal-clipboard {
  @include app--flex-col-center();
}

/**
 * Layer for Portal blocks.
 *
 * @structure Layer
 * @section Portal
 */
.#{$prefix}-portal__layer {
  //@include app--layer();
  display:         flex;
  flex-flow:       row wrap;
  justify-content: center;
  width:  100%;
  margin-bottom: 10px;
}
