<nav class="app-menu">
    {% if menu.back_link is defined and menu.back_link %}
        <a href="{{ menu.back_link }}" class="app-menu__item">{{ '<' }}</a>
        <span class="app-menu__separator"></span>
    {% endif %}
    {% for menuItem in menu.items %}
        <a href="{{ menuItem.link }}" class="app-menu__item">
            {{ menuItem.name }}
        </a>
        {% if not loop.last %}
            <span class="app-menu__separator"></span>
        {% endif %}
    {% endfor %}
</nav>
