{% import 'macroses/tree.html.twig' as macros %}

{% if items %}
    <nav class="app-portal-table-of-content">
        {% for general_item in items %}
            {% if general_item.children is defined %}
                <h3 class="app-portal-table-of-content__category">{{ general_item.title }}</h3>
                {{ macros.table_of_content(general_item.children, portal_name) }}
            {% endif %}
        {% endfor %}
    </nav>
{% endif %}
