@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Common `main` element.
 *
 * @structure Main
 * @section Common
 */
.#{$prefix}-main {
  @include app--box-sizing();
  @extend .#{$prefix}-trim;
  width:     $space-full;
  max-width: $content-max-width;

  &-content {
    display:         flex;
    flex-direction:  row;
    justify-content: space-between;
  }
}
