@charset "UTF-8";

@import "../variables";
@import "../mixins";

/**
 * Sidebar with many useful elements.
 *
 * @structure Sidebar
 * @section Common
 * @markup
 *   <aside class="app-sidebar">Sidebar here</aside>
 */
.#{$prefix}-sidebar {
  width:     250px;
  flex-grow: 0;

  background-color: dimgray; // @TODO: debug bg
}
