{% macro table_of_content(theories, portal_name) %}
    <ul>
        {% for theory in theories %}
            <li>
                <a href="{{ path('theory_show', {
                    'portal_uri': portal_name,
                    'uri': theory.slug
                }) }}">{{theory.title}}</a>
                {% if theory.children %}
                    {% import _self as self %}
                    {{ self.table_of_content(theory.children, portal_name) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
