@charset "UTF-8";

@import "../variables";

/**
 * Centered flex element.
 *
 * @mixin
 * @section Grid Flex
 * @example
 *  @include app--flex-center();
 */
@mixin app--flex-center() {
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;
}
