@charset "UTF-8";

@import "../variables";

/**
 * Default layer for modules' blocks.
 *
 * @mixin
 * @section Layer Mixins
 * @example
 *  @include app--layer();
 */
@mixin app--layer() {
  display:         flex;
  flex-flow:       row wrap;
  justify-content: center;
  width:  100%;
  margin: $clipboard-indent-vertical 0;
}
